.element__group-like {
  max-width: 22px;
  height: 19px;
  margin-top: 5px;
  margin-right: 20px;
  cursor: pointer;
}

.element__group-like:hover {
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .element__group-like {
    margin-top: 6px;
    margin-right: 20px;
  }
}
