.footer {
  max-width: 880px;
  margin-top: 68px;
  margin-left: auto;
  margin-right: auto;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 425px) {
  .footer {
    margin-top: 40px;
    margin-left: 14px;
    font-size: 12px;
  }
}
