.popup__container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 194px;
  min-height: 329px;
  max-width: 431px;
  background-color: white;
  border-radius: 10px;
  height: 330px;
}

@media screen and (max-width: 600px) {
  .popup__container {
    max-width: 282px;
    margin-top: 123px;
    height: 322px;
  }
}
