.popup__close-button {
  outline: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background-image: url("../../../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
<<<<<<< HEAD:bloks/popup/__close-button/popup__close-button.css

  transform: translate(438px, -40px);
=======
  transform: translate(438px, -73px);
  cursor: pointer;
>>>>>>> fix/hotfix-project:blocks/popup/__close-button/popup__close-button.css
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup__close-button {
    background-image: url("../../../images/close_small.svg");
    transform: translate(264px, -68px);
    max-width: 16px;
  }
}
