.profile__info-job {
  max-width: 336px;
  margin: 0;
  margin-top: 8px;
  justify-content: flex-start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .profile__info-job {
    max-width: 282px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-left: 62px;
    margin-top: 7px;
  }
}
