.popup__close-button {
  outline: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background-image: url("../../../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;

  transform: translate(438px, -40px);
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup__close-button {
    transform: translate(264px, -37px);
    max-width: 16px;
  }
}
