<<<<<<<< HEAD:bloks/element/__Mask-Group/element__Mask-Group.css
.element__Mask-Group {
========
.element__mask-group {
>>>>>>>> fix/hotfix-project:blocks/element/__mask-group/element__mask-group.css
  max-width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
