.element__group-text {
  max-width: 210px;
  margin: 0;
  margin-left: 21px;
  color: black;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
