.group__like {
  max-width: 22px;
  height: 19px;
  margin-top: 5px;
  margin-right: 20px;
}

@media screen and (max-width: 425px) {
  .group__like {
    margin-top: 7px;
    margin-right: 16px;
  }
}
