.popup__title {
  margin: 0;
  margin-left: 36px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin-top: 36px;
}

@media screen and (max-width: 600px) {
  .popup__title {
    margin-top: 29px;
    font-size: 18px;
    line-height: 22px;
    margin-left: 22px;
  }
}
